.wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.3);
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  z-index: 200;
}

.loader {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
