.analysis {
  margin: 40px 0;
}

.analysis__title {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 20px;
  margin-bottom: 20px;
}

.analysis__cart-item {
  display: flex;
  align-items: center;
}

.analysis__quantity {
  font-size: 16px;
  font-family: "Roboto";
}

.analysis__buttons {
  display: flex;
  gap: 20px;
}

.analysis__quantity {
  font-size: 16px;
  font-family: "Roboto";
}
