.purchase {
  margin-top: 20px;
}

.purchase__title {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 20px;
  margin-bottom: 20px;
}

.purchase__cart-item {
  display: flex;
  align-items: center;
}

.purchase__quantity {
  font-size: 16px;
  font-family: "Roboto";
}

.purchase__buttons {
  display: flex;
  gap: 20px;
}
